{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="header is-darkblue">
    <div class="container is-chat">
        <div class="header_box is-darkblue_2">
            <a href="{% url 'main_page' %}">
                <img src="{% static './images/Back.svg' %}" alt="Back" class="backicon">
            </a>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="main_block">
    <div class="profile_block">
        <img src="{% static './images/Human2.svg' %}" alt="" class="icon">
        <div class="name_block">
            <p>ФИО</p>
            <span class="name">{{user.username}} {{user.first_name}} {{user.last_name}}</span>
        </div>
    </div>
    <div class="city">
        Страна : 
        <select name="Город" id="city">
            <option value="">Казахстан</option>
            <option value="">Россия</option>
            <option value="">Китай</option>
        </select>
    </div>
    <div class="city">
        Город : 
        <select name="Город" id="city">
            <option value="">Алматы</option>
            <option value="">Астана</option>
            <option value="">Шымкент</option>
        </select>
    </div>

    <a href="{% url 'logout_act' %}">
        <button class="exit">Выйти : {{user.email}}</button>
    </a>
</div>
{% endblock %}