@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
:root  {
    --blue:#0000FF;
    --lightblue: #41DDF5;
    --yelllow:#F6EA5D;
    --black:#1E293B;
    --gray:#A7A7A7;
    --white: #FFFFFF;
    
}

body {
  background-color: var(--lightblue);
}

.main {
  background-color: var(--lightblue);
}

.container {
  padding: 0 20px;
}

.dots {
    background-color: var(--blue);
    border-radius: 30%;
    height:44px;
    width: 44px;
    padding:7px;
    margin-left: 18px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.for_menu {
    position: relative;    
}

.menu_box {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

#menu {
    display: flex;
    border-radius: 15px;
    position: absolute;
    left: 12px;
    top: 0;
    background-color: var(--blue);
    width: 65px;
    min-height: 445px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu_imgs {
    padding: 3px;
    border-radius: 9px;
    background-color: var(--lightblue);
}

.line2 {
    top: 66px;
    position: absolute;
    width: 100%;
    border: none;
    background-color: var(--lightblue);
    height: 2px;
}

.is-back {
    margin-bottom: 8px;
}

.header_box {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
}

.loupe {
  margin: 0px 10px;
}

.search {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--white);
  border-radius: 25px;
  width: 100%;
}

.search_inp {
  background-color: var(--gray);
  border-radius: 25px;
  height: 30px;
  border: none;
  padding: 0 10px;
  width: 100%;
  margin-right: 9px;
  padding-right: 30px;
  font-size: 20px;
}

.search_inp::placeholder {
  text-align: center;
}

.jox {
    display: flex;
    justify-content: center;
}

.line {
    background-color: var(--blue);
    height: 2px;
    width: 90vw;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
}