{% extends 'base.html' %}
{% load static %}

{% block header %}
    <a href="{% url 'LawyerProfile_page' lawyer.pk %}">
        <img src="{% static 'images/Back.svg' %}" alt="Назад" class="backicon">
    </a>
    <div class="for_line">
        <hr class="line">   
    </div>
{% endblock %}

{% block content %}
<main class="main-content">
    <section class="comments-section">
        <h2>Отзывы о юристе {{ lawyer.name }}</h2>

        {% for comment in comments %}
            <article class="comment">
                <h3 class="comment-author">{{ comment.author.username }}</h3>
                <p class="comment-text">{{ comment.text }}</p>
                <time class="comment-time" datetime="{{ comment.created_at }}">{{ comment.created_at|date:"d M Y H:i" }}</time>
            </article>
        {% empty %}
            <p>Нет отзывов.</p>
        {% endfor %}

        {% if user.is_authenticated %}
            <form method="post" class="comment-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.text.errors }}
                    {{ form.text.label_tag }}
                    {{ form.text }}
                </div>
                <button type="submit" class="submit-button">
                    <img src="{% static 'images/send.svg' %}" alt="Отправить" class="send-icon"> Отправить
                </button>
                        </form>
        {% else %}
            <p>Пожалуйста, <a href="{% url 'login_view' %}">войдите</a>, чтобы добавить отзыв.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
