{% extends 'base.html' %}
{% load static %}

{% block header %}
<header>
    <a href="{% url 'main_page' %}">
        <img src="{% static 'images/Back.svg' %}" alt="Назад" class="backicon">
    </a>
</header>
<div class="for_line">
    <hr class="line">   
</div>
{% endblock %}

{% block content %}
{% for law in lawyers %}
<main>
    <a href="{% url 'LawyerProfile_page' law.pk %}">
    <section class="profile-header">
        <img src="{{ law.image_url }}" alt="Аватар юриста Иван Русски" class="profile-pic">
        <div class="profile-info">
            <h2>{{ law.name }}</h2>
            <p>Статус:{{law.status}}</p>
            <p class="rating">⭐ {{law.rating}}</p>
            <p><img src="{% static 'images/comm.svg' %}" alt="Иконка комментариев" class="comm"> {{law.com}}</p>
        </div>
    </section>
    </a>

    <div class="for_line">
        <hr class="line">   
    </div>

{% endfor %}

</main>

{% endblock %}
