{% extends 'base.html' %}
{% load static %}

{% block header %}
<header>
    <a href="{% url 'lawyers_page' %}">
        <img src="{% static 'images/Back.svg' %}" alt="Назад" class="backicon">
    </a>
</header>
<div class="for_line">
    <hr class="line">   
</div>
{% endblock %}

{% block content %}
<main>
    <section class="profile-header">
        <img src="{{ lawyer.image_url }}" alt="Фото пользователя {{ lawyer.name }}" class="profile-pic">
        <div class="profile-info">
            <h2>{{ lawyer.name }}</h2>
            <p>Статус: {{ lawyer.status }}</p>
            <p class="rating">⭐ {{ lawyer.rating }}/10</p>
            <p><img src="{% static 'images/comm.svg' %}" alt="Иконка комментариев" class="comm"> {{ lawyer.com }}</p>
        </div>
    </section>

    <div class="for_line">
        <hr class="line">   
    </div>

    <section class="profile-details">
        <p>{{ lawyer.description }}</p>
        <div>Дел закрыто: {{ lawyer.closed }}</div>
        <div>Успешно закрыто: {{ lawyer.succses }}</div>
        <div>Стаж работы: {{ lawyer.stazh }} лет</div>
        <div>Телефон: {{ lawyer.phone }}</div>
    </section>
    
    <a href="{% url 'comments_page' lawyer.pk %}" class="comment-button">Оставить отзыв</a>
</main>
{% endblock %}
