{% extends 'base.html' %}
{% load static %}

{% block header %}{% endblock %}

{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    <div class="main_block">
        <span class="image_block"><img src="{% static './images/Human.svg' %}" alt="" class="icon"></span>
        <div class="registration">Регистрация</div>

        <div class="input_block">
            <label for="id_email">E-mail</label>
            <span class="email_block_bd">
                {{form.email}}
            </span>
        </div>
        <div class="error">{{form.email.errors}}</div>

        <div class="input_block">
            <label for="id_username">Имя</label>
            <span class="email_block_bd">
                {{form.username}}
            </span>
        </div>
        <div class="error">{{form.username.errors}}</div>
        <div class="input_block">
            <label for="id_first_name">Фамилия</label>
            <span class="email_block_bd">
                {{form.first_name}}
            </span>
        </div>
        <div class="error">{{form.first_name.errors}}</div>
        <div class="input_block">
            <label for="id_last_name">Отчество</label>
            <span class="email_block_bd">
                {{form.last_name}}
            </span>
        </div>
        <div class="error">{{form.last_name.errors}}</div>
        <div class="input_block">
            <label for="id_password1">Пароль</label>
            <span class="email_block_bd">
                {{form.password1}}
            </span>
        </div>
        <div class="error">{{form.password1.errors}}</div>
        <div class="input_block">
            <label for="id_password2">Подтвердить Пароль</label>
            <span class="email_block_bd">
                {{form.password2}}
            </span>
        </div>
        <div class="error">{{form.password2.errors}}</div>
        <div class="buttons_2">
            <button type="submit" class="main_btn">Создать</button>
            <a href="{% url 'login_view' %}">
                <button type="button" class="second_btn">Уже есть аккаунт?</button>
            </a>
        </div>
    </div>
</form>
{% endblock %}