<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Chat with AI</title>
</head>
<body class="ai_chat">
    <header class="header is-darkblue">
        <div class="container is-chat">
            <div class="header_box is-darkblue_2">
                <img src="./images/Back.svg" alt="Back" class="backicon">
            </div>
        </div>
    </header>

    <main class="test">
        <div id="chat-window" class="chat-window">

        
        </div>
        <div class="for_center">            
            <form id="chat-form" class="chat-form">
                <input type="text" id="user-input" placeholder="Написать..." required />
                <button type="submit">
                    <img src="./images/send.svg" alt="send">
                </button>
            </form>
        </div>
    </main>

    <script src="./JS/script.js"></script>
</body>
</html>
