<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>

<header>
    <img src="./images/Back.svg" alt="Назад" class="backicon">
</header>
<div class="for_line">
    <hr class="line">   
</div>
    
<section class="profile-header">
    <img src="user-image.jpg" alt="Фото пользователя" class="profile-pic">
    <div class="profile-info">
        <h2>Иван Русски</h2>
        <p>Статус: занят</p>
        <p class="rating">⭐ 8.7/10</p>
        <p><img src="./images/comm.svg" class="comm"> 27</p>
    </div>
</section>

<div class="for_line">
    <hr class="line">   
</div>

<section class="profile-header">
    <img src="user-image.jpg" alt="Фото пользователя" class="profile-pic">
    <div class="profile-info">
        <h2>Иван Русски</h2>
        <p>Статус: занят</p>
        <p class="rating">⭐ 8.7/10</p>
        <p><img src="./images/comm.svg" class="comm"> 27</p>
    </div>
</section>

</body>
</html>
