<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Ezakon</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_box">
                <div class="search">
                    <img src="./images/loupe.svg" alt="loupe" class="loupe">
                    <input type="text" class="search_inp" placeholder="Пойск">
                </div>
                <div class="for_menu">
                    <img src="./images/Dots.svg" alt="dots" class="dots" onclick="ShowMenu();">
                    <div id="menu">
                        <hr class="line2">
                        <div class="menu_box">
                            <div class="menu_imgs">
                                <img src="./images/Profile.svg" alt="" class="menu_svg">
                            </div>
                            <div class="menu_imgs">
                                <img src="./images/Laws.svg" alt="" class="menu_svg">
                            </div>
                            <div class="menu_imgs">
                                <img src="./images/Lawers.svg" alt="" class="menu_svg">
                            </div>
                            <div class="menu_imgs">
                                <img src="./images/Ai.svg" alt="" class="menu_svg">
                            </div>
                        </div>
                        <div class="menu_imgs is-back">
                            <img src="./images/arrow.svg" alt="" class="menu_svg" onclick="ShowMenu();">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
    
    <div class="for_line">
        <hr class="line">   
    </div>
        
    <main>
        <div class="container">
            <div class="card-news">
                <div class="news-header">
                    <h1 href="#" class="news-title">Рекомендаций</h1>
                </div>
                <div class="card-container">
                    <h2 class="card-header">Конституция страны</h2> 
                    <div class="categories">
                        <p class="category">Конституция страны</p>
                        <p class="category">Конституция</p>
                        <p class="category">Государственное управление</p>
                    </div>
                    <p class="description">Основные права и свободы граждан: право на жизнь, свободу слова, неприкосновенность частной жизни, равенство перед законом.</p>
                    <div class="buttons">
                        <button class="read_btn">Легкую</button>
                        <button class="read_btn is-blue">Полную</button>
                    </div>
                </div> 
                <div class="card-container">
                    <h2 class="card-header">Конституция страны</h2> 
                    <div class="categories">
                        <p class="category">Конституция страны</p>
                        <p class="category">Конституция</p>
                        <p class="category">Государственное управление</p>
                    </div>
                    <p class="description">Основные права и свободы граждан: право на жизнь, свободу слова, неприкосновенность частной жизни, равенство перед законом.</p>
                    <div class="buttons">
                        <button class="read_btn">Легкую</button>
                        <button class="read_btn is-blue">Полную</button>
                    </div>
                </div> 
                <div class="card-container">
                    <h2 class="card-header">Конституция страны</h2> 
                    <div class="categories">
                        <p class="category">Конституция страны</p>
                        <p class="category">Конституция</p>
                        <p class="category">Государственное управление</p>
                    </div>
                    <p class="description">Основные права и свободы граждан: право на жизнь, свободу слова, неприкосновенность частной жизни, равенство перед законом.</p>
                    <div class="buttons">
                        <button class="read_btn">Легкую</button>
                        <button class="read_btn is-blue">Полную</button>
                    </div>
                </div> 
            </div>
        </div>
    </main>

    <script src="./JS/script.js"></script>
</body>
</html>

