<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Ezakon</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_box">
                <div class="search">
                    <img src="./images/loupe.svg" alt="loupe" class="loupe">
                    <input type="text" class="search_inp" placeholder="...">
                </div>
                <div class="for_menu">
                    <img src="./images/Dots.svg" alt="dots" class="dots" onclick="ShowMenu();">
                    <div id="menu">
                        <hr class="line2">
                        <div class="menu_box">
                            <img src="./images/Profile.svg" alt="" class="menu_imgs">
                            <img src="./images/Laws.svg" alt="" class="menu_imgs">
                            <img src="./images/Lawers.svg" alt="" class="menu_imgs">
                            <img src="./images/Ai.svg" alt="" class="menu_imgs">
                        </div>
                        <img src="./images/arrow.svg" alt="" class="menu_imgs is-back" onclick="ShowMenu();">
                    </div>
                </div>

            </div>
        </div>
    </header>
    
    <div class="for_line">
        <hr class="line">   
    </div>

    <main>
        <section class="main">
            AWDAWDAWD
        </section>
    </main>

    <script src="./JS/script.js"></script>
</body>
</html>

