<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Chat with AI</title>
</head>
<body>
    <header class="header is-darkblue">
        <div class="container is-chat">
            <div class="header_box is-darkblue_2">
                <img src="./images/Back.svg" alt="Back" class="backicon">
            </div>
        </div>
    </header>

    <main>
        <div class="main_block">
            <div class="profile_block">
                <img src="./images/Human2.svg" alt="" class="icon">
                <div class="name_block">
                    ФИО
                    <span class="name">Бычков Борис Алексеевич</span>
                </div>
            </div>
            <div class="city">
                Страна : 
                <select name="Город" id="city">
                    <option value="">Казахстан</option>
                    <option value="">Россия</option>
                    <option value="">Китай</option>
                </select>
            </div>
            <div class="city">
                Город : 
                <select name="Город" id="city">
                    <option value="">Алматы</option>
                    <option value="">Астана</option>
                    <option value="">Шымкент</option>
                </select>
            </div>

            <button class="exit">Выйти : some@gmail.com</button>
        </div>
    </main>

    <script src="./JS/script.js"></script>
</body>
</html>
