<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <div class="main_block">
        <span class="image_block"><img src="./images/Human.svg" alt="" class="icon"></span>
        <div class="registration">Регистрация</div>
        <div class="input_block">
            <label for="E-mail">E-mail</label>
            <span class="email_block_bd">
                <input type="email" placeholder="E-mail" id="E-mail">
            </span>
        </div>
        <div class="input_block">
            <label for="password">Пароль</label>
            <span class="email_block_bd">
                <input type="password" placeholder="Password" id="password">
            </span>
        </div>
        <div class="input_block">
            <label for="password">Подтвердить Пароль</label>
            <span class="email_block_bd">
                <input type="password" placeholder="Password" id="password">
            </span>
        </div>
        <div class="buttons_2">
            <input type="submit" class="main_btn" value="Создать">
            <span class="error">This account already exists</span>
            <input type="submit" class="second_btn" value="Уже есть аккаунт?">
        </div>
    </div>
</body>
</html>         